* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   margin: 0;
   background-color: #2d3342;
   color: white;
}

header {
   background-color: #689f99;
   color: white;
   padding: 10px;
   text-align: center;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #689f99;
   display: flex;
   justify-content: center;
}

li {
   padding: 0 15px;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #2d3342;
   border-radius: 8px;
   padding: 10px;
}

footer {
   text-align: center;
   padding: 10px;
   background-color: #689f99;
   color: white;
   position: fixed;
   bottom: 0;
   width: 100%;
}

input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid black;
   border-radius: 4px;
   resize: vertical;
}

input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}

.text {
   width: 100%;
   padding: 12px;
   border: 1px solid black;
   border-radius: 4px;
   resize: vertical;
}

label {
   padding: 12px 12px 12px 0;
   display: inline-block;
}

input[type=submit] {
   background-color: green;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-left: 15px;
   margin-right: 5px;
}

.batal {
    background-color: #f53239;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    text-decoration: none;
}

.tombol {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 0px;
}

input[type=reset] {
    background-color: #f1192e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 8px;
}

input[type=submit]:hover {
    background-color: #bff1c1;
}

input[type=reset]:hover {
    background-color: #f3d948;
}

.container {
    border-radius: 5px;
    background-color: #689f99;
    padding: 20px;
    margin: 10px;
}

.container2 {
    border-radius: 5px;
    background-color: #689f99;
    padding: 20px;
    max-width: 500px;
    margin-top: 200px;
    margin-left: 500px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: flex;
    clear: both;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px;
    margin-right: 15px;
    min-width: 600px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}

th {
    background-color: #2d3342;
}

table td, #tabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #2d3342;
}

table tr:hover {
    background-color: #2d3342;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #689f99;
    color: white;
}